<%= form_with model: user, local: true do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field(:full_name) %>
  </div>

  <div>
    <%= form.select(:role, [["Employee", 0], ["Manager", 1], ["Admin", 2]]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
